<div id='businesses'></div>
<!-- <div id='list'></div> -->

<script type="text/javascript">
  $(function() {
    window.router = new Localapp.Routers.BusinessesRouter();
    Backbone.history.start();
  });
</script>
