// Place all the styles related to the businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$grayMediumLight: #eaeaea;

.hidden{display:none;}
#map{
  position:absolute; 
  top:0px; 
  bottom:0; 
  width:100%;
  z-index:-5;
}

#side-bar{
  position:absolute; 
  top:10px; 
  bottom:10px;
  left:10px;
  width:15%;
  z-index:-3;
  background: white;
  padding: 10px;
  border-style:solid;
  border-width:3px;
  border-color: #00607d
}

.leaflet-popup-content{
  border-style:solid;
  border-width:3px;
  border-color: #00607d
}

.modal-header{
  background: #00607d;
  color: white;
}

ul{
  padding: 0px;
  list-style: none;

  p{
    color: $grayMediumLight;  
  }

  li {
    padding-top: 5px;
    padding-bottom: 5px;

    // padding-left: 20px;
    // padding-right: 20px;

    // margin-bottom: 15px;

    // border-top: 3px solid #e8e8e8;
    // border-left: 3px solid #e8e8e8;
    // border-right: 3px solid #e8e8e8;
    border-bottom: 2px solid #e8e8e8;
    border-color: #dddddd;
    a {
      color: #00607d;
    }
  }
}
h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  margin-top: 10px;
  /*text-align: center;*/
  font-weight: normal;
  color: #bbddbb;
}