// Place all the styles related to the businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 #map{
  position:absolute; 
  top:50px; 
  bottom:0; 
  width:100%;
  z-index:-5;
}

.leaflet-popup-content{
  border-style:solid;
  border-width:3px;
  border-color: #00607d
}

.modal-header{
  background: #00607d;
  color: white;
}