.registraions-container {
  border: 10px;
  margin: 0 auto; 
  width:250px;
  h4{
    text-align: center;
  }
  .sign-in {
    padding: 10px;
    border-width: 2px;
    border-color: #ddccdd;
    border-style:solid;
  }
  form {

    text-align: center;
  }
  a {
    text-align: center;
    margin: 0 auto; 
    width:250px;    
  }

}